# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyLint
.pylint.d/

# VS Code
.vscode/

# PyCharm
.idea/

# Mac OS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

# Ignore everything inside __temp__ folder if any
__temp__/

# Ignore SQLite database
*.sqlite3
*.db

# Ignore compiled object files
*.o
*.out
*.a
*.lo
*.la
*.al

# Ignore shared objects
*.so
*.dylib
*.dll

# Ignore core dumps
core
#folders
mypro
checkpoints
polybench_data
polybench_data
# reward_curves
*.json
*.csv
lib64